html {
    font-family: "Fira Sans";
    background-color: #fbfaf8;
}

#app {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#left-options-bar > *, #sketchpad-frame > * {
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
    margin: 5px 10px 5px 10px;
}

/* Controls to change brush size, texture, and perspective
  --------------------------------------------------------------------------- */
#left-options-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 1250px;
}

/* Textures */
#texture-palette {
    position: relative;
    float: left;
    width: 170px;
    height: 200px;
    overflow: scroll;
}

/* Brush size */
#brush-size-grid {
    position: relative;
    width: 200px;
    height: 200px;
}

#brush-size-grid td {
    padding: 0 0 0 0;
}

#brush-size-grid .selected {
    background-color: #080808;
}

#brush-size-grid .hover {
    color: #FF5588;
}

#brush-size-grid .plus {
    background-color: #30AA40;
}

#brush-size-grid .minus {
    background-color: #FF2233;
}

/* Perspective */
#perspective-grid {
    position: relative;
    width: 380px;
    padding: 0px 0px 0px 0px;
    margin: 10px 10px 10px 10px;
}

/* Sketchpad + time machine
  --------------------------------------------------------------------------- */
#sketchpad-frame {
    position: absolute;
    left: 400px;
    background: #FCFBFE;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}

#sketchpad {
    position: relative;
    left: 0;
    top: 0;
}
